.logo {
  display: inline-block;
  text-indent: -9999px;
  height: 40px;
  width: 20%;
  margin: 30px 3% 0 0;
  opacity: .7;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &.ford {
    background-image: url('../img/logos/fordfoundationlogo.png');
    width: 25%;
  }

  &.knight {
    background-image: url('../img/logos/knightfoundationlogo.png');
    width: 22%;
  }

  &.macarthur {
    background-image: url('../img/logos/macarthurfoundationlogo.png');
    width: 10%; //MacArthur is smaller, because reasons.
    height: 35px;
  }

  &.mozilla {
    background-image: url('../img/logos/mozillalogo.png');
    width: 14%;
    height: 35px;
  }

  &.osf {
    background-image: url('../img/logos/osflogo.png');
    margin-right: 0;
    height: 35px;
    width: 14%;
  }

}

footer .partner_logos {

  .logo {
    width: 100%;
    display: block;
    margin: 30px 1% 0 0;

    @media all and (min-width: 700px) {
      display: inline-block;
      width: 27%;

      &.macarthur {
        width: 10%; //MacArthur is smaller, because reasons.
      }

      &.mozilla {
        width: 14%;
      }

      &.osf {
        width: 14%;
      }

    }

  }

}
